<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chapter 3
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ipsum ipsum, convallis ultricies urna ac, molestie dictum lorem. Sed enim metus, consequat et augue ac, venenatis cursus nisl. Integer blandit ipsum vel magna iaculis, ac vestibulum purus malesuada. Phasellus commodo lorem eget velit venenatis, et lacinia mauris efficitur. Maecenas orci lorem, efficitur vel ex at, imperdiet ultricies purus. Cras et fermentum tortor. Praesent viverra finibus egestas. Nulla erat felis, posuere sit amet sodales a, laoreet vitae lectus.

    Aenean eleifend laoreet venenatis. Sed sed tempor augue. Donec nec porttitor elit, luctus lacinia orci. Curabitur laoreet, nunc quis tincidunt accumsan, diam ex tincidunt dolor, a malesuada lectus orci pulvinar diam. Curabitur quis nibh ut sem pellentesque pharetra at et felis. Nam ac tellus vitae leo volutpat pretium vel a sapien. Curabitur euismod quis ex id euismod. Ut id urna non nulla efficitur tincidunt. Aenean laoreet velit vel lectus vehicula, ac porta massa eleifend. Ut eu euismod ante. Nam auctor lacus sit amet luctus scelerisque. Nam vel ornare risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    
    Quisque ullamcorper scelerisque magna sit amet dignissim. Etiam in rhoncus risus. Maecenas volutpat bibendum imperdiet. Sed lacinia libero in elit accumsan facilisis. Curabitur sollicitudin libero neque, quis posuere leo rutrum tincidunt. Sed aliquet tellus consectetur convallis sodales. Praesent ultrices interdum magna et dictum. Phasellus venenatis mauris sapien, in imperdiet nisi porttitor a. Fusce quis blandit tortor, vel ornare turpis. Curabitur ultrices ligula orci, non fermentum nunc molestie at.
    
    Nam sed fringilla massa, at vulputate purus. Nulla tempor, nisl vel vestibulum malesuada, neque nisl ultricies elit, nec vehicula nunc purus pretium leo. In at ex ipsum. Pellentesque hendrerit dui a odio facilisis, in semper urna faucibus. Cras placerat urna sapien. Quisque rutrum tempor tempor. Aliquam erat volutpat. Cras semper odio tellus, in sodales nibh euismod at. Curabitur quam libero, tristique a leo finibus, pellentesque porttitor enim. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    
    Vivamus aliquet nulla ut leo feugiat, sed condimentum metus lobortis. Morbi ut rutrum ligula, eu fringilla lectus. Donec interdum dolor sit amet enim tincidunt hendrerit. Donec lectus eros, pellentesque at rhoncus at, condimentum eu nisl. Curabitur elementum arcu felis. In ut elementum massa, sit amet dapibus ipsum. Integer congue tellus id auctor suscipit. Vivamus eleifend luctus neque eget volutpat. Sed ut vulputate dui. Sed at aliquam nisi.
    
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vel elementum ligula. Suspendisse euismod nibh non eros interdum, sit amet vulputate lacus lobortis. Cras leo eros, pharetra in nibh quis, iaculis porttitor erat. Nam et ipsum at est ullamcorper finibus. Phasellus congue ligula sem, malesuada mattis eros lobortis molestie. Duis aliquam molestie tempus. Fusce dignissim velit sed elit tristique sodales. Sed dictum vestibulum lorem, eu scelerisque tortor ullamcorper sollicitudin. Vivamus rhoncus metus vel mauris lacinia, non volutpat sem aliquet.
    
    Proin maximus purus nulla, quis bibendum nibh rutrum eu. Integer non lectus hendrerit, iaculis massa non, sagittis velit. Aenean a pharetra tellus. Donec facilisis semper ipsum vitae ornare. Proin tincidunt, dolor eu gravida egestas, velit purus accumsan mauris, ac ullamcorper enim ex vel felis. Aliquam eu ante elementum, rutrum sem vel, tristique massa. Nullam tempor purus at elementum scelerisque. Maecenas sed lacus et enim placerat facilisis at sed risus.
    
    Morbi commodo magna sit amet euismod sodales. Fusce in mattis risus. Donec ornare nisi suscipit ipsum dapibus, nec fermentum ex scelerisque. Cras eros quam, gravida vitae lacinia et, feugiat et nunc. Nulla ac lacus eleifend, suscipit massa ut, rhoncus dui. Donec ac justo sed erat tempor faucibus id in orci. Nunc mollis purus in nibh commodo porta. Donec dictum dui nec ipsum tempus sodales.
    
    Vestibulum tincidunt odio mauris, at convallis leo porttitor non. Morbi feugiat a magna vel aliquam. Integer pretium eget nisi non finibus. Aenean vestibulum vulputate molestie. Cras et nulla nisl. Aenean sed felis non lacus pretium hendrerit id sed lacus. Ut sed ultricies leo. Pellentesque eu mauris eget quam convallis aliquam. Sed rutrum libero urna, in molestie nisl faucibus nec. Praesent faucibus ullamcorper dignissim. Vivamus commodo augue leo, in lacinia leo ornare eget.
    
    Ut maximus consectetur metus. Aenean bibendum felis at laoreet rutrum. Nam id pretium lorem. Pellentesque facilisis sem nec eros fermentum, quis cursus neque feugiat. In hac habitasse platea dictumst. Curabitur cursus eros sit amet turpis tempus vestibulum. Ut tincidunt nisi ut dui maximus aliquam. Mauris dapibus lectus in dolor auctor faucibus. Quisque at dolor cursus, auctor tortor eget, sodales quam. Sed tempor ornare leo vitae blandit. Etiam porttitor metus neque, eu vulputate lectus placerat vel. Duis sed nisi non ipsum euismod efficitur a blandit mauris.
  </p>


<ion-button  expand="full" [routerDirection]="'root'" [routerLink]="['/chapter4']">Foward</ion-button>
<ion-button   expand="full"[routerDirection]="'root'" [routerLink]="['/chapter2']">Back</ion-button>
</ion-content>
