<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chapter 5
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<p>
  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Suspendisse quis imperdiet purus. Nulla vel risus orci. Quisque tempor malesuada mi vitae tristique. Duis et aliquet mi, sed dignissim purus. In mi dui, luctus ac feugiat sit amet, hendrerit vel sapien. Duis rhoncus tempus ante gravida commodo. Mauris bibendum diam in nisl venenatis, ut hendrerit felis fermentum. Vivamus eros risus, lacinia euismod tellus id, facilisis venenatis odio. Donec condimentum dignissim risus, sed pulvinar neque viverra sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla leo neque, placerat non tellus et, ornare congue nisl. Quisque pellentesque mauris ac dapibus tincidunt. Donec vel felis quam.

Etiam sed augue ultrices, faucibus turpis eget, lobortis tortor. Quisque ac augue fermentum, finibus dolor quis, finibus mi. Cras quis volutpat odio, ac tincidunt ex. Integer lorem risus, hendrerit quis turpis at, posuere finibus est. Mauris magna nisi, lacinia sit amet nisl eu, malesuada dignissim eros. Proin aliquam eu ante ac pharetra. Maecenas dolor sapien, imperdiet at ultrices ut, elementum non ante. Fusce tristique lorem at nunc tristique dictum. Morbi convallis dolor sed consequat pharetra. Maecenas placerat nulla tortor. Etiam ut nulla sit amet urna suscipit pellentesque. Nullam sed pharetra ante. Morbi ac ligula aliquet, pretium diam eget, pulvinar massa. Aliquam erat volutpat. Sed ligula dui, pellentesque ut pulvinar non, accumsan ut lacus.

Sed at quam in erat consectetur blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed blandit turpis nec cursus ultrices. Sed dictum turpis dui, in hendrerit libero auctor in. Pellentesque facilisis, sapien ac fermentum congue, lectus dolor accumsan massa, non placerat sapien arcu sit amet dui. In blandit vehicula dui ac porta. In id commodo ex. Vestibulum magna libero, aliquam a maximus id, mattis id nisi. Aenean eleifend rutrum sagittis. Vivamus eget ex in ipsum molestie ultrices. Vestibulum in dolor sit amet tellus sagittis ornare. Integer nibh diam, iaculis a finibus sit amet, egestas ut libero. Maecenas pharetra varius ex in tempus. Etiam tincidunt volutpat nisi, sit amet mattis eros sagittis in. Praesent vulputate dapibus massa, sit amet ornare magna.

Nulla scelerisque molestie magna, aliquam venenatis massa malesuada facilisis. In nec nisl quam. Sed lacinia eget sapien non porttitor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent efficitur commodo turpis, ac suscipit ante gravida bibendum. Aenean id venenatis ante. Duis pretium, nisi vel bibendum dapibus, justo eros porttitor nisi, in laoreet enim turpis non tortor. Fusce pulvinar, libero vitae eleifend imperdiet, erat risus ultricies neque, gravida porta diam augue id nibh. Aenean gravida vel arcu vel gravida.

Nulla non rutrum purus. Cras eu orci metus. In vel magna vehicula, viverra leo eu, posuere nulla. Cras id justo egestas, mattis ante id, placerat odio. In pretium eros ac posuere maximus. Morbi at nunc sem. Donec congue efficitur felis sed semper. Proin posuere elementum justo ac suscipit.

Mauris in sem ac ex ultrices placerat. In id auctor leo. Mauris mattis massa vel lobortis venenatis. Duis in lectus in mi ultricies volutpat et vel ante. Suspendisse sit amet blandit leo. Vivamus at libero augue. Ut non tincidunt nunc. Donec pellentesque gravida arcu, tincidunt ullamcorper justo pharetra vel. Donec ut ante tempus nisi feugiat blandit et sit amet ante. Integer pulvinar turpis vitae orci condimentum dapibus.

Vestibulum ultricies turpis in ante tempor aliquam. Aliquam ultricies augue tellus. Cras massa metus, rhoncus at tincidunt id, rutrum quis nulla. Mauris laoreet purus vel ligula feugiat, non cursus ipsum tempus. Vivamus velit magna, rhoncus eget eros sit amet, dignissim fringilla mi. In hac habitasse platea dictumst. Pellentesque porttitor nisi ut justo malesuada egestas.

Sed rhoncus ullamcorper lectus ut interdum. Etiam vel ipsum nec lectus commodo aliquam. Vestibulum pretium mollis nisi, et imperdiet massa posuere eget. Proin at blandit eros. Nunc sagittis nulla nec ipsum molestie, ut ornare augue dignissim. Phasellus quis lorem ullamcorper, porta lacus vel, feugiat turpis. Pellentesque id risus faucibus, consectetur massa maximus, viverra metus. Suspendisse potenti. Morbi eget quam erat. Suspendisse potenti. Pellentesque gravida tempus ante vel feugiat. Praesent efficitur purus id lobortis fermentum. Vivamus ultricies nibh gravida quam tempus, quis viverra purus ullamcorper. Nulla vitae luctus magna, ut egestas leo. In eget venenatis risus.

Vivamus nunc eros, convallis vel tortor sit amet, commodo lobortis risus. Phasellus accumsan condimentum est, at ultrices velit rutrum sed. Etiam ac est ac lorem tincidunt dignissim sit amet non ex. Nullam sodales laoreet consectetur. Vestibulum bibendum commodo risus ullamcorper scelerisque. Fusce nec est vitae felis congue gravida at eu ligula. Cras eget diam ut nisl consectetur consectetur. Nullam vel mi id augue sagittis facilisis quis et eros. Donec sed magna ullamcorper, egestas nibh quis, rutrum nulla. Pellentesque condimentum mi vitae nunc viverra facilisis. Phasellus arcu libero, tincidunt ut velit id, tincidunt volutpat felis. Morbi et dolor ac arcu accumsan viverra consectetur quis dui.

Donec sollicitudin lorem at sapien tristique, volutpat auctor mauris elementum. Etiam dapibus porttitor convallis. Cras ultrices varius diam, quis luctus ipsum. Pellentesque ultricies ut urna nec vulputate. Etiam et orci ipsum. Suspendisse nec aliquet nunc. Donec porttitor ligula in enim vestibulum semper. Phasellus sed eleifend nibh.
</p>









  <ion-button   expand="full"[routerDirection]="'root'" [routerLink]="['/chapter4']">Back</ion-button>
  <ion-button  expand="full" [routerDirection]="'root'" [routerLink]="['/home']">Cover Page</ion-button>


</ion-content>
