<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chapter 2
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus eu orci non dictum. Nullam porta risus quis purus luctus, nec posuere augue mattis. Nam ut feugiat lectus. Duis nec purus tortor. Donec et tortor efficitur, mollis eros a, facilisis lorem. Nullam suscipit eros quis lacus aliquam, ornare tempus lorem aliquam. Praesent sit amet dolor molestie, bibendum mauris id, ultricies erat. Integer porttitor at metus in molestie.

Praesent mollis nisl at turpis facilisis pharetra. Integer sed eros in risus tincidunt bibendum. Duis porttitor risus vel felis tempor, sit amet blandit magna aliquam. Integer risus ante, iaculis in volutpat non, ornare non sem. Maecenas nec odio blandit, bibendum libero eget, egestas risus. Nam consequat egestas quam non lobortis. Fusce tincidunt lorem vel leo rutrum finibus. Donec dui lectus, egestas viverra commodo eu, rhoncus nec leo. Cras vel tellus ac nisi consequat ornare.

Nullam ac turpis et nibh dapibus varius. Curabitur vitae eros faucibus, fringilla nisl vel, feugiat dolor. Nunc scelerisque diam quis mi viverra auctor. Donec ultrices ultricies aliquam. Vivamus commodo nunc eget justo dictum, vitae vestibulum augue sagittis. Praesent lacinia justo eros, vehicula vulputate neque tempor id. Quisque quis feugiat risus. Pellentesque finibus vel risus vitae ullamcorper. Vivamus at interdum massa. Vestibulum at justo nisl. Nam imperdiet feugiat diam, non iaculis ex vehicula a. Sed consectetur leo nunc, ac fermentum eros elementum a. Curabitur auctor lacinia sollicitudin. Aenean ligula sem, pretium eu risus id, sodales consequat arcu. Aenean pharetra mollis dui suscipit malesuada.

Suspendisse bibendum magna ex, at elementum libero maximus a. Donec leo diam, pulvinar at semper eget, faucibus a erat. Praesent nibh dui, dictum eu risus in, euismod sodales ligula. Aenean pellentesque suscipit sollicitudin. Morbi pharetra sem vitae arcu mollis, sit amet aliquam purus laoreet. Proin at nunc felis. Proin a erat ipsum. Vivamus placerat auctor elit at pulvinar. Sed purus metus, luctus eget mauris sit amet, congue tincidunt elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur pulvinar at ligula et convallis. Mauris at dignissim turpis. Nullam vitae pharetra arcu. Maecenas lorem sapien, mattis at neque vitae, elementum molestie magna. Ut quis risus mauris.

Morbi pharetra nulla non tristique faucibus. Vivamus vitae ultricies nisi. Phasellus venenatis turpis in lacus aliquet, sed suscipit elit eleifend. Ut ultricies rhoncus lacus. Proin gravida nulla sed orci ultrices vestibulum. Nam magna arcu, porta nec laoreet sed, scelerisque vel ligula. Etiam venenatis neque justo, nec lobortis turpis sagittis non. Vivamus ut velit sagittis, finibus nunc eu, sodales nulla. Sed quis risus vel tellus vulputate molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut volutpat est sem.

Praesent interdum a diam in lobortis. Aliquam cursus nisl neque, sit amet lacinia odio congue sed. Suspendisse ullamcorper velit a ante porttitor, congue finibus nunc consequat. Integer pretium risus et metus placerat, id fringilla mi finibus. Nulla sit amet tellus vitae turpis aliquam posuere non tincidunt lorem. Vivamus vestibulum velit non eros volutpat, vitae blandit urna eleifend. In ac dui aliquam, feugiat enim quis, sollicitudin leo. Aenean consequat est eu varius suscipit.

Morbi ullamcorper euismod ipsum. In dui quam, faucibus quis turpis id, scelerisque fringilla tellus. Nunc non facilisis odio. Aliquam erat volutpat. Suspendisse hendrerit ipsum at leo scelerisque congue. Ut consequat nunc a venenatis tempor. Suspendisse luctus, sapien ac mattis tristique, nisi massa accumsan est, at tempor sem lectus vel diam. Maecenas semper nisi urna, at tristique leo blandit id.

Aliquam nec dolor turpis. Phasellus varius lobortis rutrum. Sed aliquam est nec lacus rhoncus consectetur. Nulla euismod tempus porta. Sed eu diam dignissim risus cursus posuere quis nec nisl. Donec mollis ligula sit amet nisl molestie semper. Vestibulum efficitur dignissim odio, non dapibus mauris scelerisque ac. Integer magna lorem, tempus posuere odio tincidunt, interdum tempor mi. Quisque quis felis elit. Vestibulum tristique elementum velit. Ut accumsan sollicitudin fringilla. Nam eu mauris ipsum. Phasellus finibus vulputate risus, vel laoreet magna feugiat a. Duis sagittis, lorem nec ultricies placerat, augue mauris sollicitudin risus, pellentesque hendrerit urna nibh id justo.

Donec dictum sed turpis sit amet luctus. In tristique pretium erat feugiat fringilla. Quisque at eleifend odio, vitae fringilla velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean sollicitudin metus purus, non bibendum velit iaculis ac. Vestibulum pellentesque, mauris sit amet sagittis lacinia, enim ex efficitur dui, vel euismod elit massa sit amet purus. Nunc viverra volutpat vulputate.

Curabitur eget leo eget velit dignissim sodales. Sed mollis elementum lacinia. Nulla ac facilisis nibh, quis pulvinar nisl. Mauris eget ligula odio. In rhoncus purus id diam tempus mattis. Nunc non nisl finibus libero rhoncus volutpat ut et arcu. Pellentesque placerat viverra purus. Fusce ac congue urna. Suspendisse potenti. Nullam varius nunc vel felis pretium, at ullamcorper leo blandit. Quisque accumsan nunc at suscipit tincidunt. Praesent ut ipsum nunc.

</p>
<ion-button  expand="full" [routerDirection]="'root'" [routerLink]="['/chapter3']">Foward</ion-button>
<ion-button   expand="full"[routerDirection]="'root'" [routerLink]="['/chapter1']">Back</ion-button>


</ion-content>
